<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Workder - ISI</title>
</head>
<body>
  <h1>Buscador de Trabajos</h1>

  <p>Titulo:</p> <input type="text" name="job_title" placeholder="Web developer"><br>
  <p>Provincia:</p> <input type="text" name="job_location" placeholder="Granada"><br>

  <input type="checkbox" id="cbox1" value="jornada_completa" checked>
  <label> Jornada completa </label><br>
  <input type="checkbox" id="cbox2" value="media_jornada" checked>
  <label for="cbox2">Media jornada</label><br>

  <button onclick="handler()">Buscar!</button>

</body>
</html>
